/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-10-2015, 03:38:56 PM
    Author     : emanuel
*/

/* header */

.navbar-header {
    height: 60px;
}
.navbar-inverse2 {
    background-color: #fff;
}
.cabecera {
    margin-top: 10px; 
    margin-bottom: 10px
}
.form-wizard-title2 {
    //border-bottom: 1px solid #ddd;
    margin: 0 0 20px;
    padding-bottom: 20px;
}
/* fin header */

/* footer */
.demo-color2 {
    height: 125px;
    margin: 3px 3px 0;
    position: relative;
}
/* fin footer */

/* general */
.divhr{
    border-bottom: 1px solid #ddd;
}
.text-justyfi{
    text-align: justify;
}
.chek_inbox{
    height: 20px;
    margin: 0;
    width: 20px;
}
.label_required:after {
   content: "*";
   color: red;
}
.form-control:focus, .select2-input:focus {
    box-shadow: 0 0 7px #2196f3;
}
/* fin general */

/* modal tamaño */
@media screen and (min-width: 768px) {
    #modal_general .modal-dialog  {width:810px;}
}

/* pading div contenedor */
.modal-header[class*="bg-primary title"] {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 0px 20px;
}

/* color menu */
.navbar-default {
    //background-color: #2196f3;
    background-color: #337ab7;
 
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #f5f5f5;
    color: #333;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    //background-color: #2196f3;
    background-color: #337ab7;
    color: #fff;
    outline: 0 none;
    text-decoration: none;
}

/* color del datable*/
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #eef9f8;
}

/* border del menu */
.navbar {
    border-width: 0px 0;
    margin-bottom: 0;
//    padding-left: 0;
//    padding-right: 0;
}
.navbar-default {
    border-top-color: #f5f5f5;
    
}
/* fin border del menu */

.form-control::-moz-placeholder {
    color: #999;
    opacity: 0.53;
}

.modal-header[class*="recuadro"] {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 0 20px;
}




